<% if current_user.present? %>
  <h1>✨hey <strong><%= current_user.username.presence || current_user.email %></strong>, let's get dressed ✨</h1>
 </p>
  <div><a href="/outfits">my closet ☞</a></div>
  <div><a href="/outfits/new">add new fit</a></div>

<% else %>
  <h1> ⭐️👗 welcome to Styley 👗⭐️ </h1>
  <h2> you are probably here because you don't know what to wear— or at leaast you *think* you don't know. let's have some fun. 🥳 </h2>
  <p> new here? <a href="/users/sign_up"> sign up</a> to start building your closet.
  <p> back for more? <a href="/users/sign_in">sign in</a> to pick up where you left off</p>
<% end %>
