<h1>New Fit</h1>

<form action="/insert_outfit" method="post">
  <label for="photo_box">Outfit photo URL</label>
  <input id="photo_box" type="text" name="query_outfit_photo">

  <button>Create outfit</button>
</form>
